src/main/mule/implementation/query.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="queryFlow" doc:id="3601f3f8-54bc-4d7f-b7ae-edf78f793472" >
		<logger level="INFO" doc:name="Logger" doc:id="63709c37-0d7f-4a8e-8788-41bafe7464f0" message="Started Query Flow | Query = #[vars.originalQueryParams.soql]"/>
		<set-variable value="#[vars.originalQueryParams.soql]" doc:name="query" doc:id="cbf100cd-882a-4b86-8bb1-6533f4bf4072" variableName="query"/>
		<salesforce:query doc:id="b2637966-87ed-4836-adf2-71be66828ab7" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[vars.query]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="4195a692-0ad4-4ee2-9c7f-48a4a972a36f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9610e8e5-57bc-449a-b85b-a327ab63162b" message="Ended Query Flow | Query = #[payload]"/>
	</flow>
</mule>
